body {
  margin: 0;
  font-family: "Roboto";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.leaderboard-wrapper img {
  max-width: 90%;
  margin: 0 auto;
}


.bg-light {
  background: #B6509E !important;
  color: white !important;
}

.navbar-brand {
  color: white !important;
}

.navbar-toggler {
  color: white;
}

.nav-item {
  padding: 10px;
}

.nav-item svg {
  margin: 10px;
}

.nav-item a {
  color: white !important;
  font-size: 16px;
}

th {
  color: #B6509E;
}