body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(100deg, #b6509ebb, #2ebac670);
  background-size: 600% 200%;
  -webkit-animation: AnimationName 50s ease infinite;
  -moz-animation: AnimationName 50s ease infinite;
  animation: AnimationName 50s linear infinite;
  height: 100vh;
  width: 100vw;
}
#root {
  width: 100vw;
  height: 180vh;
  top: 0;
  right: 0;
  position: absolute;
  background: url(./assets/aave-white.png);
  background-color: transparent;
  background-repeat: repeat;
  background-size: 20vw;
  background-attachment: fixed;
  background-position: inherit;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 65% 0%;
  }
  50% {
    background-position: 36% 100%;
  }
  100% {
    background-position: 65% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 65% 0%;
  }
  50% {
    background-position: 36% 100%;
  }
  100% {
    background-position: 65% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 65% 0%;
  }
  50% {
    background-position: 36% 100%;
  }
  100% {
    background-position: 65% 0%;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home {
  text-align: center;
}

.fullpager {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 90px);
  width: 100%;
  vertical-align: middle;
}

.fullpager h1:first-child {
  margin-bottom: 2em;
}

.banner {
  margin: auto;
  background: #fffe;
  padding: 4em 3em;
  border-radius: 3em;
}
